1 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "Icon.ico"
10  IMAGE  DISCARDABLE "Background.jpg"
11  IMAGE  DISCARDABLE "Alien.bmp"
12  IMAGE  DISCARDABLE "Ship.bmp"
13  IMAGE  DISCARDABLE "Shoot.bmp"